<h2>Reactivos: Dinámicos</h2>
<hr>

<form autocomplete="off">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                class="form-control" 
                placeholder="Nombre de la persona" 
            />
            <span class="form-text text-danger"
                *ngIf="">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    class="form-control" 
                    placeholder="Agregar" 
                />
                <button 
                    class="btn btn-outline-primary" 
                    type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div 
                class="input-group mb-1" 
                *ngFor="">
                <input 
                    class="form-control" 
                    required
                />
                <button 
                    class="btn btn-outline-danger" 
                    type="button">
                    Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button 
                type="button" 
                class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>